@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
html {

    font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
    font-family: 'M PLUS Rounded 1c', sans-serif; /* this should be the rest of the output you got from Google fonts */
  }
  
  
  h1 {
    font-size: 90px;
    text-align: center;
    color: black;/*文字色*/
  padding: 0.5em 0;/*上下の余白*/

  }
  
  p, li {
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1px;
  }

  html {
    background-color: #c2edff;
    
  }

  body {
    width: 600px;
    margin: 0 auto;
    background-color: yellow;
    padding: 0 40px 40px 40px;
    border: 5px solid green;
  }

  h1 {
    margin: 0;
    padding: 20px 0;    
    color:black;
    text-shadow: 3px 3px 1px green;
  }

  img {

    display: block;
    margin: 0 auto;
  }